/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* Signups Table Info */
table.signups-table-info {
    border-collapse: collapse;
    margin-top: 6px;
}

table.signups-table-info td {
    display: table-cell;
    clear: both;
}

table.signups-table-info tr:first-child td {
    padding-top: 0;
}

table.signups-table-info td:first-child {
    padding-left: 0;
}

@media screen and (max-width: 782px) {
    table.signups-table-info {
        margin-top: 10px;
    }

    table.signups-table-info tbody {
        display: block;
        margin-top: 10px;
    }

    table.signups-table-info td:first-child {
        padding-right: 10px;
    }

    table.signups-table-info td:nth-child(2) {
        padding-left: 10px;
    }
}

/* Text on disabled inputs */
.text-disabled {
    opacity: 50%;
}

/* Number inputs */
input[type="number"] {
    width: 4.5em;
    text-align: center;
}