/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* Signups Table Info */
.signups-table-info_size {
    padding-right: 3rem
}

/* Delete Signups Now fields */
.delete-signups-now_wrapper {
    display: flex;
    align-items: center
}

.delete-signups-now_submit-wrapper {
    padding-left: 1rem
}


/* Text on disabled inputs */
.text-disabled {
    opacity: 50%;
}

/* Number inputs */
input[type="number"] {
    width: 4.5em;
    text-align: center
}